# Dependencies
node_modules
npm-debug.log

# Environment variables
.env
.env.*

# Logs
logs
*.log

# Git
.git
.gitignore

# IDE specific files
.idea
.vscode
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
LICENSE 